<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pele.mapper.AttendMapper">
  <resultMap id="BaseResultMap" type="com.pele.pojo.Attend">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="attend_date" jdbcType="DATE" property="attendDate" />
    <result column="attend_week" jdbcType="TINYINT" property="attendWeek" />
    <result column="attend_morning" jdbcType="TIME" property="attendMorning" />
    <result column="attend_evening" jdbcType="TIME" property="attendEvening" />
    <result column="absence" jdbcType="INTEGER" property="absence" />
    <result column="attend_status" jdbcType="TINYINT" property="attendStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, attend_date, attend_week, attend_morning, attend_evening, absence, attend_status
  </sql>
  <select id="selectByExample" parameterType="com.pele.pojo.AttendExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from attend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from attend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from attend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pele.pojo.AttendExample">
    delete from attend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pele.pojo.Attend">
    insert into attend (id, user_id, attend_date, 
      attend_week, attend_morning, attend_evening, 
      absence, attend_status)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{attendDate,jdbcType=DATE}, 
      #{attendWeek,jdbcType=TINYINT}, #{attendMorning,jdbcType=TIME}, #{attendEvening,jdbcType=TIME}, 
      #{absence,jdbcType=INTEGER}, #{attendStatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.pele.pojo.Attend">
    insert into attend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="attendDate != null">
        attend_date,
      </if>
      <if test="attendWeek != null">
        attend_week,
      </if>
      <if test="attendMorning != null">
        attend_morning,
      </if>
      <if test="attendEvening != null">
        attend_evening,
      </if>
      <if test="absence != null">
        absence,
      </if>
      <if test="attendStatus != null">
        attend_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="attendDate != null">
        #{attendDate,jdbcType=DATE},
      </if>
      <if test="attendWeek != null">
        #{attendWeek,jdbcType=TINYINT},
      </if>
      <if test="attendMorning != null">
        #{attendMorning,jdbcType=TIME},
      </if>
      <if test="attendEvening != null">
        #{attendEvening,jdbcType=TIME},
      </if>
      <if test="absence != null">
        #{absence,jdbcType=INTEGER},
      </if>
      <if test="attendStatus != null">
        #{attendStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pele.pojo.AttendExample" resultType="java.lang.Long">
    select count(*) from attend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update attend
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.attendDate != null">
        attend_date = #{record.attendDate,jdbcType=DATE},
      </if>
      <if test="record.attendWeek != null">
        attend_week = #{record.attendWeek,jdbcType=TINYINT},
      </if>
      <if test="record.attendMorning != null">
        attend_morning = #{record.attendMorning,jdbcType=TIME},
      </if>
      <if test="record.attendEvening != null">
        attend_evening = #{record.attendEvening,jdbcType=TIME},
      </if>
      <if test="record.absence != null">
        absence = #{record.absence,jdbcType=INTEGER},
      </if>
      <if test="record.attendStatus != null">
        attend_status = #{record.attendStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update attend
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=BIGINT},
      attend_date = #{record.attendDate,jdbcType=DATE},
      attend_week = #{record.attendWeek,jdbcType=TINYINT},
      attend_morning = #{record.attendMorning,jdbcType=TIME},
      attend_evening = #{record.attendEvening,jdbcType=TIME},
      absence = #{record.absence,jdbcType=INTEGER},
      attend_status = #{record.attendStatus,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pele.pojo.Attend">
    update attend
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="attendDate != null">
        attend_date = #{attendDate,jdbcType=DATE},
      </if>
      <if test="attendWeek != null">
        attend_week = #{attendWeek,jdbcType=TINYINT},
      </if>
      <if test="attendMorning != null">
        attend_morning = #{attendMorning,jdbcType=TIME},
      </if>
      <if test="attendEvening != null">
        attend_evening = #{attendEvening,jdbcType=TIME},
      </if>
      <if test="absence != null">
        absence = #{absence,jdbcType=INTEGER},
      </if>
      <if test="attendStatus != null">
        attend_status = #{attendStatus,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pele.pojo.Attend">
    update attend
    set user_id = #{userId,jdbcType=BIGINT},
      attend_date = #{attendDate,jdbcType=DATE},
      attend_week = #{attendWeek,jdbcType=TINYINT},
      attend_morning = #{attendMorning,jdbcType=TIME},
      attend_evening = #{attendEvening,jdbcType=TIME},
      absence = #{absence,jdbcType=INTEGER},
      attend_status = #{attendStatus,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--自己写的sql语句-->
  <select id="selectByUserIdAndDate" parameterType="com.pele.pojo.Attend" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from attend
    where user_id = #{userId,jdbcType=INTEGER}
    AND attend_date = #{attendDate,jdbcType=DATE}
  </select>

  <select id="countAttendByPageParam" parameterType="com.pele.common.pojo.PageParam" resultType="int">
    select COUNT(*)
    from attend
    where user_id = #{userId,jdbcType=INTEGER}
    <if test="startDate!=null and endDate!=null">
      AND attend_date BETWEEN #{startDate} AND #{endDate}
    </if>
    <if test="attendStatus!=null">
      AND attend_status=#{attendStatus}
    </if>
  </select>

  <select id="selectAttendByPageParam" parameterType="com.pele.common.pojo.PageParam" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from attend
    where user_id = #{userId,jdbcType=INTEGER}
    <if test="startDate!=null and endDate!=null">
      AND attend_date BETWEEN #{startDate} AND #{endDate}
    </if>
    <if test="attendStatus!=null">
      AND attend_status=#{attendStatus}
    </if>
      LIMIT #{startRows},#{pageSize}
  </select>

</mapper>