<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:context="http://www.springframework.org/schema/context"
		
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
              		    http://www.springframework.org/schema/mvc   http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd 
        				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd ">
    
    <!-- 配置包扫描器 -->    
    <context:component-scan base-package="com.pele.controller"></context:component-scan>
    <!-- 配置注解驱动 -->
	<mvc:annotation-driven>
		<!-- 解决@ResponseBody注解下返回String类型数据乱码问题 -->
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<!--配置登录拦截器-->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/login/**"/>
			<mvc:exclude-mapping path="/js/**"/>
			<mvc:exclude-mapping path="/css/**"/>
			<mvc:exclude-mapping path="/images/**"/>
			<mvc:exclude-mapping path="/static/**"/>
			<mvc:exclude-mapping path="/*.html"/>
			<mvc:exclude-mapping path="/attend/sign"/>
			<!--注册链接不要拦截-->
			<mvc:exclude-mapping path="/register"/>
			<mvc:exclude-mapping path="/user/register"/>
			<bean class="com.pele.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!--配置ajax跨域请求-->
	<mvc:cors>
		<mvc:mapping path="/**"/>
	</mvc:cors>

	<!-- 静态资源映射 第一种方式-->
	<!--<mvc:default-servlet-handler/>-->
	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources>
    <mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources mapping="/images/**" location="/images/"></mvc:resources>
	<mvc:resources mapping="/fonts/**" location="/fonts/"></mvc:resources>
	<mvc:resources mapping="/*.html" location="/"></mvc:resources>
	<mvc:resources mapping="/static/**" location="/static/"/>

    <!-- 视图解析器-->
	<bean id="velocityConfigurer" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/WEB-INF/views"/>
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">utf-8</prop>
				<prop key="output.encoding">utf-8</prop>
				<prop key="file.resource.loader.cache">false</prop>
				<prop key="file.resource.loader.modificationCheckInterval">1</prop>
				<prop key="velocimacro.library.autoreload">true</prop>
			</props>
		</property>
	</bean>
    <bean class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="suffix" value=".vm" />
		<property name="contentType" value="text/html;charset=utf-8"/>
		<property name="dateToolAttribute" value="date"/>
  	</bean>

	<!-- 配置图片解析器，实现图片上传 -->
	<bean id="multipartResolver" 
	class="org.springframework.web.multipart.commons.CommonsMultipartResolver">	
		<!-- 设置文件上传的最大大小 5MB-->
		<property name="maxUploadSize">
			<value>5242880</value>
		</property>
	</bean>
</beans>        
